<div class="detail-wrapper">
  <div class="detail-right-side">
    <div class="detail-bg-img"></div>
  </div>
  <div class="detail-left-side">
      <div class="detail-content">
        <h2 class="detail-title"> Experience </h2>
      </div>
    <div class="left-side-detail">
      <div class="detail-content-text">
        <div class="content-text-title">
          <h4 class="content-title">Stage Aboher</h4>
        </div>
        <div class="content-text-description">
          <ul class="list-content">
            <li class="list-content-item"> Creation de site web on PHP et MYSQL </li>
            <li class="list-content-item"> Travail on equipe </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="left-side-detail">
      <div class="detail-content-text">
        <div class="content-text-title">
          <h4 class="content-title">Stage TADLA CLIM</h4>
        </div>
        <div class="content-text-description">
          <ul class="list-content">
            <li class="list-content-item"> Creation de site web on ASP</li>
            <li class="list-content-item"> Biuld Data Base With MSSQL </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="left-side-detail">
      <div class="detail-content-text">
        <div class="content-text-title">
          <h4 class="content-title">Stage ACCESS PANEL</h4>
        </div>
        <div class="content-text-description">
          <ul class="list-content">
            <li class="list-content-item"> Elictical Wirring </li>
            <li class="list-content-item"> Work as Team </li>
            <li class="list-content-item"> Learn New Technics </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>