 <div class="exp-main" (mouseover)="showText()" (mouseout)="hideText()" (click)="onAccessBox()">
          <div class="bg-img" style="background: rgb(0,0,0)"></div>
          <div class="exp-content">
              <div class="exp-logo">
                <i class="fas fa-laptop-house"></i>
              </div>
              <p class="exp-brief" [ngStyle]="{'color':textColor}">
                this is a text about my experience passed in i don't know where.
              </p>
          </div>
</div>